body{
    background-color: orangered;
    text-align: center;
    font-size: 27px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    text-justify: auto;
    margin: 20px;
    backface-visibility: inherit;
    list-style: inherit;
    text-decoration-color: khaki;
    visibility: inherit;
    font-variant: inherit;
    letter-spacing: 10px;
    padding: 10px;
    line-break:auto;


}